

body {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

header img {
    max-width: 200px;
    height: auto;
    display: block;
}

h1 {
    text-align: center;
    font-size: 1rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
}  

nav ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

main {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

footer div {
    flex: 2;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.first-row {
    background-color: #f0f0f0;
    padding: 10px;
}

.first-row img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.second-row {
    display: flex;
    gap: 10px;
}

.second-row article {
    flex: 1;
    background-color: #f0f0f0;
    padding: 10px;
}

.second-row article img {
    width: 100%;
}


